<md-sidenav-layout [class.custom-dark]="isDarkTheme">

  <md-toolbar color="primary">

    Code Challenge

    <span class="app-toolbar-filler"></span>
    <button md-button routerLink='' routerLinkActive='active-link' [routerLinkActiveOptions]="{exact:
true}">Movie Details</button>
    <button md-button routerLink='cardgame' routerLinkActive='active-link' [routerLinkActiveOptions]="{exact:
true}">Card Game</button>
    <button md-button (click)="isDarkTheme = !isDarkTheme">CHANGE THEME</button>
  </md-toolbar>

  <div class="app-content">
	<router-outlet></router-outlet>  	
</div>
</md-sidenav-layout>

<span class="app-action" [class.custom-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
  

